/*Jesse Byers
c3162857
Assignment 2
stylesheet.css
14/09/17*/

html {background-color:lightblue}

body {margin-left:1cm; margin-right:1cm; margin-top:1cm; margin-bottom:1cm;  border:ridge; border-radius: 15px ;padding:0.5cm; background-image:url(images/stage_background.jpg); background-repeat:repeat; background-attachment:fixed; background-size:cover}


h1 {text-shadow: ;text-align:center; font-size:300%; border:ridge; text-decoration:; text-transform:uppercase; font-family: Times New Roman; color: black; background-color:lightgreen; }

/*Link colours and settings*/
/*a:hover {font-size:150%;}*/
a:visited {color:purple}
a:link{color:blue}
a:active {color:red}

/*nav bar*/
nav {background-color:orange; font-family:Calibri; text-align:center; list-style:none;}
li {list-style:none;}


span {font-weight: bold; font-style: italic}

p1{font-family:Calibri; background-color:lightgreen;text-align:center;}
p2{font-family:Calibri; background-color:lightgreen;text-align:center;}
p3{font-family:Calibri; background-color:lightgreen;text-align:center;}
p {text-align: center;}

/*border for all images*/
img {border:ridge; }

/*seat properties*/

hr {color:black; clear:both;}
address{border:ridge; clear:both; text-align:center; background-color:lightgreen; width:8cm; margin-left:24.5cm}

input {margin-bottom:0.5cm}

select {margin-bottom:0.5cm}

table {background-color:lightgreen; text-align:center; position:center; }

div {background-color:lightgreen;}

div.buttons {background-color:lightgreen; text-align:center; position:center;}